@import 'mixins';
.discount{
    width: 300px;
    height: 158px;
    border-radius: 30px;
    padding: 57px 0 31px 30px;
    background-color: #AB97F3;
    box-sizing: border-box;
    position: relative;
    @include centerElementFlex;
    @media (max-width: 1440px) {
        width: 160px;
        padding: 55px 0 31px 22px;
    }
    @media (max-width: 1200px) {
        width: 160px;
        padding: 55px 0 31px 19px;
    }
    @media (max-width: 1000px) {
        max-width: 300px;
    }
    @media (max-width: 880px) {
        margin-bottom: 10px;
        max-width: 250px;
        padding: 55px 20px 10px 20px;
        max-height: 120px;
    }
    @media (max-width: 800px) {
        padding: 25px 20px 0px 20px;
        max-height: 100px;
    }
    @media (max-width: 650px) {
        max-width: 135px;
        height: 105px;
        padding: 12px 0 31px 30px;
    }
    @media (max-width: 550px) {
        margin-bottom: 30px;
    }
    @media (max-width: 480px) {
       margin: 0 25px 5px 20px;
     }
     
    
    &_text-title{
        font-family: 'Spartan';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        color: #FFFFFF;
        @media (max-width: 480px) {
            font-weight: 500;
            font-size: 18px;
            line-height: 20px;
        }
    }
    &_text-p{
        font-family: 'Spartan';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 12px;
            color: #FFFFFF; 
    }
}
.burger{
    position: absolute;
    top: -40px;
    right: -10px;
    transform: rotate(-45deg);
    @media (max-width: 800px) {
        top: 30px;
        right: -50px;
    }
    @media (max-width: 480px) {
        top: -75px;
        right: -12px;
    }
    @media (max-width: 280px) {
        top: -66px;
    }
    
}
.cheese{
    position: absolute;
    top: 60px;
    right: -10px;
    @media (max-width: 1200px) {
        left: 85px;
    }
    @media (max-width: 880px) {
        left: 120px;
        top: 70px;
    }
    @media (max-width: 800px) {
        top: -10px;
    }
    @media (max-width: 480px) {
        display: none;
    }
}
.bitten-apple{
    position: absolute;
    top: -40px;
    left: 10px;
    @media (max-width: 1200px) {
        left: -31px;
    }
    @media (max-width: 800px) {
        left: -19px;
    }
    @media (max-width: 480px) {
        display: none;
    }
}
.fire{
    position: absolute;
    top: -30px;
    right: 75px;
    @media (max-width: 480px) {
        right: 89px;
    }


}
.orange_icon{
    position: absolute;
    width: 42px;
    height: 44px;
    box-sizing: border-box;
    top: 20px;
    right: 75px;
    @media (max-width: 800px) {
        top: 46px;
        left: -10px;
    }
    @media (max-width: 480px) {
        display: none;
    }

}